@import url("../def/style.css");

#admin-logout button{
    font-size: small;
    float: right;
    margin: 5px;
    background-color: red;
}

#admin-logout button:hover{
    background-color: darkred;
}

.admin-title{
    font-weight: 600;    
    font-style: italic;
    display: inline-block;
    text-align: center;
    color: gray;
}

#admin-accept-list .admin-accept-btn-yes{
    font-size: small;
    background-color: green;
}

#admin-accept-list .admin-accept-btn-yes:hover{
    background-color: darkgreen;
}

#admin-accept-list .admin-accept-btn-no{
    font-size: small;
    background-color: red;
}

#admin-accept-list .admin-accept-btn-no:hover{
    background-color: darkred;
}

#admin-accept-list, #admin-upcoming-list{
    width: 80%;
    margin: 10px 10%;
    font-size: small;
    text-align: center;
}

#admin-wait-modal{
    text-align: center;
    font-size: large;
    font-weight: 600;
    font-style: italic;
}

#admin-wait-modal img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}