@import url("../def/style.css");

#offer-h2-title{
    font-weight: 600;    
    font-style: italic;
    display: inline-block;
    text-align: center;
    color: gray;
}

#offer-list{
    width: 90%;
    border: 2px solid gray;
    background-color: #e6e6e6;
}

#offer-list-image{
    max-height: 250px;
}

#offer-list-title, #offer-list-description, #offer-list-onstock{
    text-align: center;
}

#offer-list-title{
    font-size: x-large;
    margin: 0;
}

#offer-list-onstock{
    color: gray;
    font-size: small;
    margin: 0;
}

#offer-list-datebox{
    width: 100%;
    border: 2px solid gray;
    font-size: small;
    text-align: center;
    background-color: white;
}

#offer-list-datebox div:nth-child(2n){
    background-color: #e6e6e6;
}

#offer-list-date div{
    display: inline-block;
    white-space: nowrap;
    padding: 5px;
}

#offer-list-date-start, #offer-list-date-end, #offer-list-btn-date{
    font-size: small;
}

#offer-list-order-not{
    display: block;
    width: 100%;
    color: red;
    font-size: small;
}

#offer-list-btn-order{
    display: block;
    white-space: inherit;
    width: 80%;
    margin: 10px 10%;
    background-color: #79d279;
}

#offer-list-btn-order:hover{
    background-color: #39ac39;
}

.offer-header-category, .offer-header-subcategory, .offer-header-item{
    color: white;
    text-align: center;
}

.offer-header-category{
    font-weight: 600;
}

.offer-box-subcategory, .offer-box-item{
    display: none;
}

.offer-header-category:hover, .offer-header-subcategory:hover, .offer-header-item:hover{
    cursor: pointer;
}

.offer-modal-btn{
    background-color: #79d279;
    border: none;
}

.offer-modal-btn:hover{
    background-color: #39ac39;
}

.offer-modal-btn:focus{
    outline: none;
    box-shadow: none;
    background-color: #39ac39;
}

.offer-modal-title{
    color: #79d279;
    font-size: large;
    text-align: center;
    font-weight: 600;
    font-style: italic;
}

.offer-modal-result{
    text-align: center;
    font-size: medium;
}