*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    height: 100%;
}

header, footer, .offer-header-category{
    background-color: #79d279;
}

.offer-header-subcategory{
    background-color: #39ac39;
}

.offer-header-item{
    background-color: #2d862d;
}

header{
    width: 100%;
}

header h1{
    font-weight: 600;    
    font-style: italic;
    color: white;
    display: inline-block;
}

header h1:hover{
    cursor: pointer;
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1;
}

#wait-modal{
    text-align: center;
    font-size: large;
    font-weight: 600;
    font-style: italic;
}

#wait-modal img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#wait-modal-information{
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
}

footer{
    width:100%;
    font-size: x-small;
}

footer p{
    color: white;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

.btn-rentit{
    background-color: #b3b3b3;
    border: none;
}

.btn-rentit:hover, .btn-rentit:focus{
    background-color: #999999;
}