*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header, footer{
    background-color: #79d279;
}

header{
    width: 100%;
}

header h1{
    font-weight: 600;    
    font-style: italic;
    color: white;
    display: inline-block;
}

header h1:hover{
    cursor: pointer;
}

footer{
    position:absolute;
    bottom:0;
    width:100%;
}

footer p{
    color: white;
    font-size: small;
}